
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category"></h5>
              <h2 class=" card-title">Performance</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area">
            <form [formGroup] ="form">
              <div class="col-lg-4">
                  <div class="form-group">
                  <label for="name">Name</label>
                  <select class="form-control" *ngIf="team_members" class="form-control" (change)="changeTeamMember($event)" formControlName="team_member_id">
                      <option *ngFor="let team_member of team_members" value="{{ team_member.id }}">{{ team_member.name }}</option>
                  </select>
                  </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Performance</h5>
        </div>
        <div class=" card-body">
          <div class="chart-area"><canvas id="bar_chart1"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Availability</h5>
        </div>
        <div class=" card-body">
          <div class="chart-area"><canvas id="bar_chart2"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
</div>
